{% extends "base.html" %}

{% block content %}
    <br><br>
    {% if products_amount == 0 %}
        <div class="text-center">
            <br><br><br><br><br><br><br><br>
            <p>Product is Empty...</p>
        </div>
    {% else %}
    <div style="margin: 20px;">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Stock</th>
                    <th scope="col">Detail Button</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{product.product_name}}</td>
                        <td>{{product.product_stock}}</td>
                        <td><a class="btn btn-primary" href="{% url 'product:detail' product.id %}">Detail</a></td>
                    </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
<br>
<nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
    <ul class="pagination">
        {% if products.has_previous %}
        <li class="page-item"><a href="?page=1" class="page-link">&laquo; First</a></li>
        <li class="page-item"><a href="?page={{products.previous_page_number}}" class="page-link">Previous</a></li>
        {% endif %}
        <li class="page-item disabled"> 
            <a href="#" class="page-link">
                Page {{products.number}} of {{products.paginator.num_pages}}
                </a>
            </li>
            {% if products.has_next %}
                <li class="page-item"><a href="?page={{products.next_page_number}}" class="page-link">Next</a></li>
                <li class="page-item"><a href="?page={{products.paginator.num_pages}}" class="page-link">Last &raquo; </a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}